@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #4f7942;
  border: white solid 0.1rem;
  align-items: center;
  justify-content: center;
}

.vinylsearch {
  border-radius: 0.85rem;
}
header {
  display: flex;
  justify-content: center;
  background-color: burlywood;
  box-shadow: black 0.35rem 0.35rem;
  margin: 1rem;
  text-shadow: white 0.1rem 0.1rem;
  justify-content: space-between;
  border: black solid 0.1rem;
}

.mainhead {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  text-decoration: none;
}
.plantpic {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-shadow: white 0.05rem 0.05rem;
}
.plantpic img {
  border-radius: 0.85rem;
  box-shadow: black 0.35rem 0.35rem;
  border: black solid;
}
.vinylpic {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-shadow: white 0.005rem 0.1rem;
}
.vinylpic img {
  border-radius: 0.85rem;
  box-shadow: black 0.35rem 0.35rem;
  border: solid black;
}
footer {
  margin-top: 3rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-decoration: underline;
  text-shadow: white 0.025rem 0.025rem;
}
.G {
  background-color: darkgreen;
  text-align: center;
  box-shadow: white 0.15rem 0.15rem;
  display: grid;
  margin: 1rem;
  border-radius: 0.85rem;
  border: black solid 0.1rem;
  color: white;
  font-size: 1rem;
}
.B {
  background-color: burlywood;
  text-align: center;
  display: grid;
  margin: 1rem;
  border-radius: 0.85rem;
  border: black solid 0.1rem;
  color: black;
  box-shadow: black 0.15rem 0.15rem;
  font-size: 1rem;
}
p {
  justify-content: center;
}

form {
  text-align: center;
  margin: 2rem;
}
.plantsearch {
  border-radius: 2rem;
  border: black solid 0.1rem;
  background-color: darkgreen;
  color: white;
  box-shadow: white 0.15rem 0.15rem;
  text-align: center;
  margin: 2rem;
  font-size: 1.35rem;
}
.vinylsearch {
  border-radius: 2rem;
  border: black solid 0.1rem;
  background-color: darkgreen;
  color: white;
  box-shadow: white 0.15rem 0.15rem;
  text-align: center;
  margin: 2rem;
  font-size: 1.35rem;
}
.plantbox {
  background: darkgreen;
  color: white;
  --width: 250px;
  --height: calc(var(--width) / 3);
  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border: black solid 0.1rem 0.1rem;
  border-radius: 2em;
  transform: perspective(500px) rotateY(-15deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: white 0.25rem 0.25rem;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  margin: 3rem;
}
.vinylbox {
  background: darkgreen;
  color: white;
  --width: 250px;
  --height: calc(var(--width) / 3);
  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border: black solid 0.1rem 0.1rem;
  border-radius: 2em;
  transform: perspective(500px) rotateY(-15deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: white 0.25rem 0.25rem;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  margin: 3rem;
}
