@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.vinylpic {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-shadow: red 0.1rem 0.1rem;
  margin: 1rem;
  text-decoration: underline;
  color: white;
}

.vinylpic img {
  border-radius: 0.85rem;
  box-shadow: white 12px 12px 24px;
  border: solid black;
  // animation: rotation 6s infinite linear;
}
form.VinylAdds p:nth-child(even) {
  input {
    background-color: rgb(245, 60, 60);
    text-align: center;
    margin: 1rem;
    border-radius: 0.85rem;
    border: black solid 0.1rem;
    color: black;
    box-shadow: red 12px 12px 24px;
    font-size: 1.25rem;
  }
}
form.VinylAdds p:nth-child(odd) {
  input {
    background-color: burlywood;
    text-align: center;
    margin: 1rem;
    border-radius: 0.85rem;
    border: black solid 0.1rem;
    color: black;
    box-shadow: black 12px 12px 24px;
    font-size: 1.25rem;
  }
}
.vinylsearch {
  border-radius: 2rem;
  border: black solid 0.1rem;
  background-color: rgb(245, 60, 60);
  color: white;
  box-shadow: red 12px 12px 24px;
  text-align: center;
  margin: 15px;
  font-size: 1.35rem;
  margin-top: 1.5rem;
}
.vinylbox {
  background: linear-gradient(to bottom right, red, burlywood);
  color: white;
  --width: 250px;
  --height: calc(var(--width) / 3);
  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border: black solid 0.1rem 0.1rem;
  border-radius: 2em;
  transform: perspective(500px) rotateY(-15deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: red 12px 12px 24px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  margin: 3rem;
}
.vinyls-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://cdn.shopify.com/s/files/1/0005/6485/4899/files/pile-of-records.jpg?v=1567767319);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.DiffVinyls {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  list-style: none;
  text-shadow: white 0.1rem 0.1rem;
  text-align: center;
  padding: 0;
  color: black;
}
.SubmitVinyl {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: black;
  background: linear-gradient(to bottom right, red, burlywood);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px red;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  padding: 10px;
  margin: 0;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.VinylsPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DeleteVinyl {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: black;
  background: linear-gradient(to bottom right, red, burlywood);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px red;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  padding: 10px;
  text-decoration: none;
  margin-top: 4rem;
}
.SingleVinyl {
  list-style: none;
  text-align: center;
  padding: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}
.SingleVinylList {
  margin: 1rem;
  font-size: 1.25rem;
  text-shadow: white 0.1rem 0.1rem;
}
.vinyl-leaf,
.vinyls-vinyl {
  color: red;
}
.vinyl-link {
  color: black;
}
.Viewvinyllist {
  padding: 0;
}
.VinylEditButton {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: black;
  background: linear-gradient(to bottom right, red, burlywood);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px red;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  padding: 10px;
  text-decoration: none;
  margin-top: 4rem;
}
